---
layout: archive
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
<div class="cv-top-title"> CV </div>

{% include base_path %}
<div class="center-text"><a href="/files/CV.pdf" download>Download CV here</a></div>
<h2 class="cv-head">Education</h2>

<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.boun.edu.tr/en-US/Index"><img src="/images/logos/boun.jpg" style="border-radius: 50%;" alt="BOUN"/></a>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">B.S. in Mechanical Engineering, Bogazici University</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2018-2023</div>
    <ul>
      <li> <b>GPA:</b> 3.90/4.00
      <li> <b>Teams:</b> Bumerang Rocket and Rasat CanSat
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.boun.edu.tr/en-US/Index"><img src="/images/logos/boun.jpg" style="border-radius: 50%;" alt="BOUN"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">B.S. in Physics, Bogazici University</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2019-2023</div>
    <ul>
      <li> <b>GPA:</b> 3.90/4.00
      <li> TUBİTAK 2205 Undergraduate Scholarship for Science Major Students
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
    <a href="http://www.gsl.gsu.edu.tr/en/"><img src="/images/logos/GSL.PNG" style="border-radius: 50%;" alt="GSL"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">Galatasaray High School</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2012-2017</div>
    <ul>
      <li> <b>GPA:</b> 87.59/100  
      <li> <b>Activities:</b> Volleyball Team Captain, Guitarist at student band, Art Club Member
    </ul>
  </div>
</div>

<h2 class="cv-head">Experience</h2>

<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.boun.edu.tr/en-US/Index"><img src="/images/logos/boun.jpg" style="border-radius: 50%;" alt="BOUN"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">Undergraduate Researcher: BUSTLab</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2021 October-Present</div>
    <div class="cv-date"><i class="fa fa-map-marker"></i> &emsp;Istanbul/TURKEY</div>
    <ul>
      <li> <b>Supervisor:</b> Prof. Murat Celik
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
    <a href="https://is.mpg.de/"><img src="/images/logos/MPI.jpg" style="border-radius: 50%;" alt="MPI"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">Undergraduate Researcher: Max Planck Institute for Intelligent Systems</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2022 June-September</div>
    <div class="cv-date"><i class="fa fa-map-marker"></i> &emsp;Stuttgart/GERMANY</div>
    <ul>
      <li> <b>Supervisor:</b> Prof. Metin Sitti, Mehmet Efe Tiryaki
    </ul>
  </div>
</div>


<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.pakkens.com/en/"><img src="/images/logos/pakkens.png" alt="Pakkens"/></a>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">Manufacturing Intern: PAKKENS</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2022 January-February</div>
    <div class="cv-date"><i class="fa fa-map-marker"></i> &emsp;Bursa/TURKEY</div>
    <ul>
      <li> Investigated different manufacturing methods ranging from machining to injection molding. Also contributed to R&D projects on flow simulation of a hydro block of a combi boiler
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.baykartech.com/en/"><img src="/images/logos/baykar.png" alt="Baykar"/></a>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">R&D Intern: BAYKAR Technologies</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2021 August-September</div>
    <div class="cv-date"><i class="fa fa-map-marker"></i> &emsp;Istanbul/TURKEY</div>
    <ul>
      <li> CFD Store Separation Analysis from an unmanned aircraft under the effect of propeller for various types of store geometries
      <li> Research on Guidance, Navigation, and Control of a missile and basic programming applications of different Guidance Laws
    </ul>
  </div>
</div>

<h2 class="cv-head">Skills</h2>
<ul>
  <li> <b>Programming:</b> C/C++, MATLAB/Simulink, Python, ROS
  <li> <b>CAD:</b> Solidworks, Fusion 360
  <li> <b>CAE:</b> Ansys Mechanical and Fluent, ABAQUS, ADAMS
  <li> <b>OS:</b> Windows, Ubuntu
  <li> <b>Other Computer Tools:</b> LaTex, Microsoft Office, Inkscape 
</ul>

<h2 class="cv-head">Languages</h2>
<ul>
  <li> <b>English:</b> Advanced - TOEFL: 104/120
  <li> <b>French:</b> B2
  <li> <b>Italian:</b> Beginner
  <li> <b>Turkish:</b> Native
</ul>

<h2 class="cv-head">Projects</h2>
{% for post in site.project reversed %} 
  <li style="margin-top: 2px;">
    <a class="cv-links" href="{{ base_path }}{{ post.url }}" rel="permalink" style="text-decoration: none;">{{ post.title }}</a>
  </li>
{% endfor %}

<h2 class="cv-head">Publications</h2>
{% for post in site.publication-prep reversed%} 
  <li style="margin-top: 2px;">
    <a class="cv-links" href="{{ base_path }}{{ post.url }}" rel="permalink" style="text-decoration: none;">{{ post.title }}</a>
  </li>
{% endfor %}

<h2 class="cv-head">Teaching</h2>
<div class="cv-div">
  <div class="cv-image">
    <a href="https://www.boun.edu.tr/en-US/Index"><img src="/images/logos/boun.jpg" style="border-radius: 50%;" alt="BOUN"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">Teaching Assistant: Bogazici University</div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; 2021-2022 SPRING</div>
    <ul>
      <li> PHYS101 and 201 <font size="3"> (Just take attendance and answer occasional questions, nothing to brag about :smile:) </font>
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image" >
    <a href="https://www.atolyeegitim.com/"><img src="/images/logos/atolye.png" style="border-radius: 50%;" alt="Atolye"/></a>
  </div>

  <div class="cv-info">
    <div class="cv-title">Teaching Assistant: ATOLYE EGITIM </div>
    <div class="cv-date"><i class="fa fa-calendar"></i> &emsp; September 2017- February 2019</div>
    <ul>
      <li> Conducted one-to-one physics and mathematics classes for senior high-school students 
    </ul>
  </div>
</div>