---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
<style>
  .cv-top-title{
    height: 60px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: rgb(18, 117, 117);
  }
  .cv-div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .cv-title{
    font-weight: 700;
    font-size: large;
  }
  .cv-info{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: medium;
  }
  .cv-image {
    width: 8.0%;
    object-fit: contain;
    margin-right: 25px;
  }
  .cv-div ul{
    margin-top: 2px;
  }
  h2{
    margin-top: 25px;
    margin-bottom: 18px;
    color: rgb(18, 117, 117);
  }
</style>

<div clss="cv-top-title"> CV </div>

{% include base_path %}
<a href="/files/CV.pdf" download>Download CV here</a>
<h2>Education</h2>

<div class="cv-div">
  <div class="cv-image">
    <img src="/images/logos/boun.jpg" alt="BOUN"/>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">B.S. in Mechanical Engineering, Bogazici University, 2018-2023</div>
    <ul>
      <li> <b>GPA:</b> 3.90/4.00
      <li> <b>Teams:</b> Bumerang Rocket and Rasat CanSat
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/boun.jpg" alt="BOUN"/>
  </div>

  <div class="cv-info">
    <div class="cv-title">B.S. in Physics, Bogazici University, 2019-2023</div>
    <ul>
      <li> <b>GPA:</b> 3.90/4.00
      <li> TUBİTAK 2205 Undergraduate Scholarship for Science Major Students
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/GSL.PNG" alt="GSL"/>
  </div>

  <div class="cv-info">
    <div class="cv-title">Galatasaray High School, 2012-2017</div>
    <ul>
      <li> <b>GPA:</b> 87.59/100  
      <li> <b>Activities:</b> Volleyball Team Captain, Guitarist at student band, Art Club Member
    </ul>
  </div>
</div>

<h2>Experience</h2>

<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/boun.jpg" alt="BOUN"/>
  </div>

  <div class="cv-info">
    <div class="cv-title">Undergraduate Researcher: BUSTLab</div>
    <ul>
      <li> 2021 October-Present,    Istanbul/Turkey
      <li> <b>Supervisor:</b> Professor Murat Celik
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/MPI.jpg" alt="MPI"/>
  </div>

  <div class="cv-info">
    <div class="cv-title">Undergraduate Researcher: Max Planck Institute for Intelligent Systems</div>
    <ul>
      <li> 2022 June-September,     Stuttgart/Germany
      <li> <b>Supervisor:</b> Professor Metin Sitti, Mehmet Efe Tiryaki
    </ul>
  </div>
</div>


<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/pakkens.jfif" alt="Pakkens"/>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">Manufacturing Intern: PAKKENS</div>
    <ul>
      <li> 2022 January-February,   Bursa/Turkey
    </ul>
  </div>
</div>

<div class="cv-div">
  <div class="cv-image">
   <img src="/images/logos/baykar.png" alt="Baykar"/>
  </div>
  
  <div class="cv-info">
    <div class="cv-title">R&D Intern: BAYKAR Technologies</div>
    <ul>
      <li> 2021 August-September,   Istanbul/Turkey
    </ul>
  </div>
</div>

<h2>Skills</h2>
<ul>
  <li> <b>Programming:</b> C/C++, MATLAB/Simulink, Python, ROS
  <li> <b>CAD:</b> Solidworks, Fusion 360
  <li> <b>CAE:</b> Ansys Mechanical and Fluent, ABAQUS, ADAMS
  <li> <b>OS:</b> Windows, Ubuntu
  <li> <b>Other Computer Tools:</b> LaTex, Microsoft Office, Inkscape 
</ul>

<h2>Languages</h2>
<ul>
  <li> <b>English:</b> Advanced - TOEFL: 104/120
  <li> <b>French:</b> B2
  <li> <b>Italian:</b> Beginner
  <li> <b>Turkish:</b> Native
</ul>

<h2>Projects</h2>
<ul>
  <li>Magnetically Actuated Guidewire Design for MRI Scanners
  <li>Numerical Simulation of Particle Trajectories in Ion Thruster Grid Region Plasma using a PIC-DSMC Code
  <li>Weight Compensation Mechanism for an Elastic Metamaterial
  <li>Compressor, Overdrive and Delay Eﬀect Pedals for Electric Guitar
  <li>Tic Tac Toe Player CNC Pen Plotter
  <li>3DOF Simulation of a Medium Altitude Rocket
  <li>Design and Analysis of a Model Satellite
</ul>

<h2>Publications</h2>
  <ul>
  {% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}
  </ul>

<h2>Teaching</h2>
<ul>
  <li><b>2021-2022 SPRING - TA:</b> PHYS101 and 201 <font size="3"> Just take attendance and answer occasional questions, nothing to brag about :smile: </font>
  <li><b>2017-2019 - ATOLYE EGITIM:</b> Conducted one-to-one physics and mathematics classes for senior high-school students preparing to national exams (LYS-YGS for entering college). Also gave problem sessions and prepared videos for solutions of the weekly exams.
</ul>