---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<style>
  .pub_title{
    color:black;
    font-size: large;
  }
  .pub_date{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color:black;
    font-size: small;
  }
  .pub_status{
    color:rgb(95, 0, 0);
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
</style>

{% include base_path %}

{% for post in site.publications reversed %}
  <div>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div>
        <p class="pub_title">{{post.title}}</p>
      </div>
    </a>
    <div class="pub_status">{{post.status}}</div>
    <div class="pub_date">{{post.date | date: '%M,%Y'}}</div>
  </div>
{% endfor %}
