---
layout: archive
permalink: /publications/
author_profile: true
---
{% include base_path %}
<div style="width: 100%;
            font-size: 28px;
            font-weight: 600;
            margin-top: 20px;
            color: rgb(17,142,172);
            align-items: center;">
  Publications
</div>
{% for post in site.publications reversed %}
  {% include archive-publication.html %}
{% endfor %}
{% for post in site.publication-prep reversed %}
  {% include archive-publication.html %}
{% endfor %}


<div style="width: 100%;
            font-size: 28px;
            font-weight: 600;
            margin-top: 20px;
            color: rgb(17,142,172);
            align-items: center;">
  Posters
</div>
<section class="chapters cf">
  <div class="wrapper-bef flex-row-bef" style="justify-content: space-between; margin: 0; max-width: 100%;">
    {% for post in site.posters reversed%}
      <div class="chapter chapter3">
        <a href="{{post.url | prepend: site.baseurl}}">
          {% if post.img %}
            <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
