---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<style>
  .pub_title{
    color:black;
    font-size: large;
    margin: 10px;
  }
  .pub_date{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color:black;
    font-size: medium;
    margin: 5px;
  }
  .pub_status{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color:rgb(95, 0, 0);
    font-size: medium; 
    margin: 5px;
  }
</style>

{% include base_path %}

{% for post in site.publications reversed %}
  <div>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div>
        <p class="pub_title">{{post.title}}</p>
      </div>
    </a>
    <div class="pub_status"><b>Status:</b> &emsp; {{post.status}}
      {{if post.date}}
      <div class="pub_date">{{post.date | date: '%Y'}}
      {{endif}}
    </div>
  </div>
{% endfor %}
