{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork" style="padding:20px;">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="text-decoration: none; color: rgb(85, 85, 85); margin: 0px;">
      <h2 class="archive__item-title" style="font-weight:600; font-size: 20px; margin: 0px;" itemprop="headline">
          {{ title }}
      </h2>
      <div style="width: 100%; margin:10px;">
        <i>{{ post.description }}</i>
      </div>
      <div style="display: flex;flex-direction: row;width:100%;flex-wrap: wrap;">
        <div style="margin-left: 10px;"><b>Date: </b> post.date | default: "1900-01-01" | date: "%M %Y" </div>
      </div>   
    </a>   
  </article>
</div>
